.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.form-fild {
  width: 40%;
  min-width: 250px;
}

.str {
  display: flex;
  flex-direction: column;
}

.zad {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.title_zad {
  font-weight: bold;
}

.started {
  color: #ff9f00
}

.not-started {
  color: #77666b;
}

.graded {
  color: #239d33;
}

.time-out {
  color: #d90400;
}
a {
  color: darkcyan;
}

a:visited {
  color: darkcyan;
}
a:hover {
  color: darkblue;
}
