.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.student {
  font-weight: bold;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fild {
  width: 40%;
  min-width: 250px;
}
