<p>
  <mat-toolbar color="primary">
    <button (onMenuOpen)="getRole()" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="role==='Unauthorized'" routerLink="/login" mat-menu-item>Войти</button>
      <button *ngIf="role==='ROLE_TEACHER'" routerLink="/register" mat-menu-item>Зарегистрироваться</button>
      <button *ngIf="role!=='Unauthorized'" routerLink="" mat-menu-item>Задания</button>
      <button *ngIf="role!=='Unauthorized'" routerLink="/statistic" mat-menu-item>Статистика</button>
      <button *ngIf="role==='ROLE_TEACHER'" routerLink="/group" mat-menu-item>Группы</button>
      <button *ngIf="role!=='Unauthorized'" (click)="logOut()" routerLink="/login" mat-menu-item>Выйти</button>
    </mat-menu>
    <span>Ваше рабочее пространство</span>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
